# Node / React
node_modules/
node_modules/*
dist/
dist-ssr/
*.local
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Logs
*.log
server.log
api.log
dev.log
vite.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
